<!DOCTYPE html>
{% load staticfiles %}
{% url 'worldcup:scores' as scores %}
{% url 'worldcup:twitter' as twitter %}
{% url 'worldcup:index' as homepage %}
{% url 'worldcup:teams' as teams %}
{% url 'worldcup:blog' as blog %}

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    {% block head %}
        <title>World Cup For Americans</title>
    {% endblock %}
    </head>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="nav navbar-brand" href="{{homepage}}">
            <img src="{% static 'images/worldcup.png' %}" class="rounded" alt="..." style="max-height: 75px">
        </a>
        <a class="nav navbar-brand" href="{{homepage}}">
          <h1>World Cup For Americans</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-brand" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{history}}"> |  History </a>
                  </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{teams}}"> |  Teams </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{scores}}"> |  Scores <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{twitter}}"> |  Twitter Feed </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{blog}}"> |  Social Blog </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{aboutus}}"> |  About Us </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://www.fifa.com/worldcup/"> |  FIFA/worldcup </a>
                </li>


            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="card-footer">
        <p class="m-1">© 2018 Team9, CIS4930.</p>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">

</html>