{% extends "base.html" %}

{% block head %}
    <style>
        /* Sticky footer styles
    -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        .card-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */

        }

    </style>
{% endblock %}

{% block content %}

    <div class="jumbotron">

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>

    </div>

{% endblock %}