{% extends "base.html" %}
{% load staticfiles %}
    {% block head %}
        <title> {{ team_query.teamName }} </title>
        <style>
            body
            {
                background-image: url("{% static 'images/'|add:team_query.teamName|add:'Opa.png' %}");
                background-repeat: no-repeat;
                background-position: 650px 100px;
                background-size: 600px 600px;
            }
        </style>
    {% endblock %}

{% block content %}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Team</th>
                <th scope="col">isEliminated</th>
                <th scope="col">Total Goals </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ team_query.teamName }}</td>
                    {% if team_query.isEliminated == True %}
                        <td> Yes </td>
                    {% else %}
                        <td> No </td>
                    {% endif %}
                    <td> {{ team_query.totalGoals }} </td>
                </tr>
            </tbody>
        </table>
        <img src = "{% static 'images/'|add:team_query.teamName|add:'.jpg' %}" class= "rounded" style = "max-height: 400px">
    </div>

{% endblock %}