{% extends "base.html" %}

{% block content %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Tweet</th>
            <th scope="col">link</th>
          </tr>
        </thead>
        {% for item in tweet_list %}
            <tbody>
            <tr>
                <td> {{ item.user }} </td>
                <td> {{ item.text }}</td>
                {% if item.link != None %}
                        <td><a href="{{ item.link }}"> {{ item.link }}</a></td>
                {% endif %}
            </tr>
            </tbody>
        {% endfor %}
      </table>

{% endblock %}