<!DOCTYPE html>
{% load staticfiles %}

{% url 'scores' as scores %}
{% url 'twitter' as twitter %}
{% url 'index' as homepage %}
{% url 'teams' as teams %}

<html lang="en">
    <head>
        <title> Live World Cup Scores</title>
        <meta charset="utf-8" http-equiv="refresh" content="5"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{% static 'images/worldcup.png' %}" class="rounded float-right" alt="..." style="max-height: 75px">
      <a class="navbar-brand" href="{{homepage}}"> Home Page </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{scores}}"> Scores <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{twitter}}"> Twitter Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{teams}}">Teams</a>
          </li>
        </ul>
      </div>
    </nav>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Tweet</th>
            <th scope="col">link</th>
          </tr>
        </thead>
        {% for item in tweet_list %}
            <tbody>
            <tr>
                <td> {{ item.user }} </td>
                <td> {{ item.text }}</td>
                {% if item.link != None %}
                        <td><a href="{{ item.link }}"> {{ item.link }}</a></td>
                {% endif %}
            </tr>
            </tbody>
        {% endfor %}
      </table>
</html>