
{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
        <p> We are Team9, integrated by Carla, Mauricio and Otto. </p> 
        <p> Contact Us!:
                <a href="mailto:contact@worldcupforamericans.com?Subject=Hello%20again" target="_top">Send Mail</a>

        <p> E-mail: <strong>contact@worldcupforamericans.com </strong> </p>
        </p>

    
        <p> Location: Florida, US ⚽ </p>

    </div>


 <div align="left" style="border:20px solid rgba(255, 253, 253, 0.918)">
       

    <p></p>
        <h2> <p>Privacy Policy of worldcupforamericans.com and ussoccer.live </p></h2>

    <p>Team9 operates the www.worldcupforamericans.com and  and ussoccer.live websites, referred here as "the websites", which were created only for educational reasons.</p>
    <p>This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information 
            if anyone decided to use the websites </p>
    <p>If you choose to use the websites, then you agree to the collection and use of information in relation with this policy. We will not use or share your
         information with anyone except as described in this Privacy Policy.</p>

    <h3>Information Collection and Use</h3>

    <p>For a better experience while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited
         to your name, and e-mail address. The information that we collect will be used to contact or identify you.</p>

    <h3>Log Data</h3>

    <p>We want to inform you that whenever you visit the websites, we may or may not collect information that your browser sends to us that is called Log Data. 
        This Log Data may include information such as your computer’s Internet Protocol ("IP") address, browser version, pages of our Service that you visit,
        the time and date of your visit, the time spent on those pages, and other statistics.</p>

    <h3>Cookies</h3>

    <p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you 
        visit and are stored on your computer’s hard drive.</p>
    <p>The websites uses these "cookies" to collection information and to improve our Service. You have the option to either accept or refuse these cookies,
        and know when a cookie is being sent to your computer. If you choose to refuse our cookies, that is fine.</p>

    <h3>Providers</h3>

    <p>We do not employ or deal with third-party companies and individuals.</p>

    <h3>Security</h3>

    <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it.
         But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee 
         its absolute security. So, please do not post personal information on our blog content and if you decide to do so, it is at your complete risk.</p>

    <h3>Links to Other Sites</h3>

    <p>the websites may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

    <p><h2>Children’s Privacy</h2></p>

    <p>Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>

    <h3>Changes to This Privacy Policy</h3>

    <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by 
        posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page. </p>

    <h3>Contact Us</h3>

    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
</div>
{% endblock %}